html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 20px;
  }
  
  #peach {
    background: #FFBE98;
  }
  
  #pink {
    background: #F05A7E;
  }
  #blue {
    background: #125B9A;
  }
  #teal {
    background: #0B8494;
  }
  
  